@charset "utf-8";

/*                      ALL-SETTINGS*/
@font-face {
    font-family: 'nexa';
    src: url('NexaRustSlab-BlackShadow01.otf');
}
@font-face {
    font-family: 'futural';
    src: url('FuturaLT-Light.woff');
}
:root {
    --font-fut: 'futural';
    --font-nexa: 'nexa';
    --color1: #2c462b;      /*#2c462b*/
    --color2: #ECE3C9;
}
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-size: 1em;
    font-family: var(--font-fut);
    color: var(--color1);
    background-color: var(--color2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: var(--color2);
}
main {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}
fieldset {
    font-size: 1.2em;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0 5px;
}


/*                 MAIN HEADER*/
header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu li, .menu a{
    color: var(--color1);
    font-weight: 700;
    font-size: 1.1em;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    letter-spacing: 1.5px;
}


/*                  MAIN USER*/
.user {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}
.user h1 {
    align-self: center;
    font-family: var(--font-nexa);
    font-size: 3em;
    font-variant: small-caps;
    color: var(--color1);
    margin-right: 2.6em;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.3);
}
.user p {
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.field-user {
    border-color: var(--color1);
    color: var(--color1);
}


/*                  ASIDE REGISTER*/
.register {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    padding-left: 5em;
    border: 10px solid #2e462e;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
    box-shadow: 0px 5px 10px #192b19b7;
    background: url('back-reg.png'),var(--color1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}
.register h1 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
    font-family: var(--font-nexa);
    font-size: 3em;
    font-variant: small-caps;
    color: var(--color2);
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.3);
}
.form-register {
    grid-area: 2 / 1 / 3 / 2;
    color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-reg {
    border-color: var(--color2);
    color: var(--color2);
}


/*                  INPUT*/
.input-control {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-family: var(--font-fut);
    font-size: 1em;
}
.input-user:focus-visible {
    border-bottom:1px solid var(--color1);
    margin-bottom: 10px;
}
.input-reg:focus-visible {
    border-bottom:1px solid var(--color2);
    margin-bottom: 10px;
}
.input-user {
    color: var(--color1)
}
.input-reg {
    color: var(--color2);
}


/*                  BUTTON*/
.btn {
    background: none;
    font-family: var(--font-fut);
    font-size: 1em;
    font-weight: bold;
    padding: 0.6rem 2.5rem;
    cursor: pointer;
    letter-spacing: 2px;
    font-variant: small-caps;
    margin: 10px 0;
}
.btn-in {
    background-color: var(--color1);
    border: 2px solid #2b3a2b;
    color: var(--color2);
    position: relative;
    overflow: hidden;
    transition: color .8s ease-in-out;
    z-index: 1;
}
.btn-in::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    background-origin: left;
    transform: translateX(-120%) translateY(-26%) skewX(30deg) scaleX(0);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.2, 1);
    z-index: -1;
}
.btn-in:hover::before {
    transform: translateX(-22%) translateY(-26%) skewX(30deg) scaleX(1.3);
}
.btn-in:hover {
    color: var(--color1);
    transition: .5s ease-in-out;
}
.btn-up {
    background-color: var(--color2);
    border: 2px solid #f0e5c1;
    color: var(--color1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 1s ease-in-out;
}
.btn-up::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    background-origin: left;
    transform: translateX(-120%) translateY(-26%) skewX(30deg) scaleX(0);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.2, 1);
    z-index: -1;
}
.btn:hover::before {
    transform: translateX(-22%) translateY(-26%) skewX(30deg) scaleX(1.3);
}
.btn-up:hover {
    color: var(--color2);
    transition: .5s ease-in-out;
}

footer {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: end;
}
picture {
    margin-right: 3.5em;
}
.img-ico {
    animation: anim 4s ease-in infinite;
}
@keyframes anim{
    50% {
        transform: translateY(-20%);
    }
}
picture img {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.img-whats {
    animation-delay: .5s;
}
.img-insta {
    animation-delay: 1s;
}
.img-face {
    animation-delay: 1.5s;
}


/*                  MEDIA*/
@media (max-width: 1200px) {
    body {
        background: url('background.png'), var(--color2);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    header {
        margin-right: 0.6em;
    }
    .menu li, .menu a {
        font-size: 1em;
        margin: 4px;
    }
    .user h1 {
        font-size: 2.5em;
    }
    .register h1 {
        font-size: 2.5em;
    }
}
@media (max-width: 1000px) {
    main {
        background: url('background580.png'), var(--color2);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .register {
        grid-area: 2 / 1 / 3 / 2;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding-left: 0;
    }
}
@media (max-width: 500px) {
    main {
        background: url('background400.png'), var(--color2);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .menu li, .menu a {
        font-size: 1em;
        margin: 3px;
    }
    .user p {
    font-size: 1em;
    }
}